@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.App {
  z-index: 0;
  text-align: center;
  height: 15000px;
  background-color: black;
}

.heading{
  z-index: 5;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  flex-direction: row;
  font-family: "DM Sans", sans-serif;
  font-size: 13rem;
  font-weight: 250;
}

.ganesh{
  animation: appear-left 2s ease-in-out forwards;
}

.otsav{
  animation: appear-right 2s ease-in-out forwards;
}

@keyframes appear-right{
  0%{
    opacity: 0;
    letter-spacing: -5rem;
    transform: translate(-40%, 0);
  }
  100%{
    opacity: 1;
    letter-spacing: 2rem;
    transform: translate(0%, 0);
  }
}

@keyframes appear-left{
  0%{
    opacity: 0;
    letter-spacing: -5rem;
    transform: translate(40%, 0);
  }
  100%{
    opacity: 1;
    letter-spacing: 2rem;
    transform: translate(0%, 0);
  }
}

.main-content{
  z-index: 2;
  position: fixed;
  background-color: white;
  color: black;
  height: 100vh;
  width: 100vw;
}

.description{
  display: flex;
  flex-direction: row;
  position: fixed;
  flex-wrap: wrap;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation : word-appear 1s ease-out forwards;
}

.word{
  font-family: "DM Sans", sans-serif;
  font-size: 4rem;
  margin-right: 20px;
  font-weight: lighter;  
}

@keyframes word-appear {
  0%{
    opacity: 0;
    transform: translate(-55%, -50%);
  }
  100%{
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.timeline{
  color: black;
  position: fixed;
  font-style: italic;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
}

.about-timeline{
  color: black;
  animation: about-appear 1s forwards;
} 

@keyframes about-appear {
  0%{
    opacity: 0;
    transform: translate(0, 50%);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

.timeline-card{
  color: black;
}

.timeline-map{
  font-style: normal;
  font-size: 3rem;
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  animation: about-appear 1s forwards;
}

.year-timeline-card{
  color: rgb(144, 144, 144);
}

.timeline-information {
  padding: 80px;
  font-size: 3rem;
  font-style: normal;
  font-weight: 100;
}

.message{
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 100;
  top: 65%;
  width: 100%;
  text-align: center;
  position: fixed;
  color: white;
  animation: about-appear 1s forwards;;
}
@keyframes appear-right-portrait{
  0%{
    opacity: 0;
    letter-spacing: -1rem;
    transform: translate(-40%, 0);
  }
  100%{
    opacity: 1;
    letter-spacing: 0.5rem;
    transform: translate(0%, 0);
  }
}

@keyframes appear-left-portrait{
  0%{
    opacity: 0;
    letter-spacing: -1rem;
    transform: translate(40%, 0);
  }
  100%{
    opacity: 1;
    letter-spacing: 0.5rem;
    transform: translate(0%, 0);
  }
}

@media screen and (orientation : portrait) {
  .heading{
    font-size : 3rem;
  }

  .ganesh{
    animation: appear-left-portrait 2s ease-in-out forwards;
  }
  
  .otsav{
    animation: appear-right-portrait 2s ease-in-out forwards;
  }

  .word{
    font-size: 2.5rem;
  }

  .timeline{
    top: 20%;
  }
  
  .timeline-information{
    padding: 0;
    margin-top: 3vh;
    font-size: 2rem;
  }

  .message{
    top: 55%;
    font-size: 1.5rem;
  }
}